In [ ]:
import yfinance as yf
import pandas as pd
from datetime import datetime

# List of ticker symbols
tickers = [
    "XLE", "XLF", "XLU", "XLI", "GDX", "XLK", "XLV", "XLY", "XLP", "XLB",
    "XOP", "IYR", "XHB", "ITB", "VNQ", "GDXJ", "IYE", "OIH", "XME", "XRT",
    "SMH", "IBB", "KBE", "KRE", "XTL"
]

# Define start date
start_date = "1990-01-01"
# Get end date (current date)
end_date = datetime.today().strftime('%Y-%m-%d')
# Load data using yfinance
ETFS = yf.download(tickers, start=start_date, end=end_date)["Adj Close"]
# Save the data to a CSV file
ETFS.to_csv("ETFS.csv", index=True)

In [1]:
# Load tickers from Excel file
ticker_file = r'C:\Users\rauup\Desktop\tfm\tickers.xlsx'
ticker_df = pd.read_excel(ticker_file, header=None)  # No header in the Excel file

# Extract tickers from the DataFrame column
tickers = ticker_df[0].tolist()

# Define start date
start_date = "2000-01-01"
# Get end date (current date)
end_date = datetime.today().strftime('%Y-%m-%d')
# Load data using yfinance
fulldata = yf.download(tickers, start=start_date, end=end_date)["Adj Close"]
fulldata.to_csv("stocks_price_data.csv")

[*********************100%***********************]  4000 of 4000 completed

22 Failed downloads:
['CWEN.A', 'HEI.A', 'NETD', 'AKO.B', 'BF.A', 'PBR.A', 'BH.A', 'AGM.A', 'KVAC', 'CRD.A', 'GTN.A', 'LGF.A', 'BRK.B', 'MOG.A', 'BRK.A', 'MOG.B', 'CRD.B', 'HYAC', 'AKO.A']: Exception('%ticker%: No timezone found, symbol may be delisted')
['GEF.B', 'LEN.B', 'BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2000-01-01 -> 2023-08-04)')

In [29]:
import pandas as pd
fulldata = pd.read_csv('stocks_price_data.csv')
etfdata = pd.read_csv('ETFS.csv')

In [34]:
start_date = '2000-01-03'
etfdata = etfdata[etfdata.index >= start_date]

In [39]:
fulldata

,A,AA,AAC,AACT,AAL,AAN,AAOI,AAON,AAP,AAPL,...,ZTO,ZTS,ZUMZ,ZUO,ZURA,ZVIA,ZVRA,ZWS,ZYME,ZYXI
2000-01-03,44.290768,71.203278,NaN,NaN,NaN,NaN,NaN,0.997502,NaN,0.859423,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,40.907444,71.533180,NaN,NaN,NaN,NaN,NaN,1.039065,NaN,0.786965,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,38.369949,75.656914,NaN,NaN,NaN,NaN,NaN,1.048301,NaN,0.798481,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,36.908974,74.667213,NaN,NaN,NaN,NaN,NaN,1.052919,NaN,0.729382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,39.984726,74.447304,NaN,NaN,NaN,NaN,NaN,1.015974,NaN,0.763932,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-27,126.660004,33.910000,10.59,10.19,16.570000,15.38,6.19,100.019997,72.639999,193.220001,...,26.570000,188.690002,18.760000,10.51,6.57,2.72,4.64,29.790001,7.28,9.75
2023-07-28,126.050003,34.759998,10.62,10.18,16.790001,15.43,6.71,103.019997,73.169998,195.830002,...,27.990000,189.899994,18.920000,10.91,7.00,2.72,4.83,30.440001,7.27,9.89
2023-07-31,121.769997,36.189999,10.65,10.19,16.750000,15.82,6.75,105.260002,74.389999,196.449997,...,27.799999,188.089996,18.860001,11.73,6.88,2.78,4.88,30.440001,7.46,9.76
2023-08-01,122.480003,35.180000,10.65,10.18,16.230000,14.38,7.03,106.480003,73.720001,195.610001,...,26.920000,185.509995,18.780001,11.76,6.88,2.75,4.90,30.410000,7.45,8.62
2023-08-02,127.709999,33.930000,10.63,10.18,15.950000,14.23,7.39,106.540001,69.639999,192.580002,...,26.620001,182.000000,18.780001,10.68,6.53,2.62,4.81,30.379999,7.32,8.29

In [38]:
etfdata

,GDX,GDXJ,IBB,ITB,IYE,IYR,KBE,KRE,OIH,SMH,...,XLI,XLK,XLP,XLU,XLV,XLY,XME,XOP,XRT,XTL
2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.826677,42.028301,13.078809,11.990412,21.399870,22.808760,NaN,NaN,NaN,NaN
2000-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.306538,39.896088,12.710517,11.628716,20.914268,22.122601,NaN,NaN,NaN,NaN
2000-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.224949,39.303822,12.935083,11.922166,20.726645,21.850506,NaN,NaN,NaN,NaN
2000-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.469727,38.000782,13.177616,11.901689,20.792860,22.098946,NaN,NaN,NaN,NaN
2000-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.173431,38.664139,14.013000,12.004058,21.046705,23.140007,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-27,30.350000,36.099998,127.910004,87.809998,45.240002,87.720001,41.439999,48.029999,332.619995,157.460007,...,109.480003,175.550003,75.320000,67.190002,134.789993,169.880005,52.220001,138.139999,66.419998,73.680000
2023-07-28,30.719999,36.549999,129.860001,88.940002,45.360001,87.550003,41.939999,48.720001,337.500000,160.500000,...,110.160004,177.940002,76.099998,67.040001,135.190002,172.759995,52.669998,140.919998,67.199997,73.199997
2023-07-31,31.410000,37.660000,129.309998,88.769997,46.230000,88.050003,41.959999,48.689999,343.739990,160.619995,...,110.419998,178.350006,75.750000,67.070000,134.149994,173.740005,53.889999,143.029999,67.779999,73.519997
2023-08-01,30.230000,36.290001,128.050003,89.309998,45.990002,87.879997,41.540001,48.169998,341.700012,160.529999,...,110.750000,178.649994,75.339996,66.250000,133.449997,171.770004,53.290001,142.559998,67.440002,73.830002
2023-08-02,29.280001,35.139999,127.360001,88.320000,45.320000,87.370003,41.320000,47.950001,339.250000,154.639999,...,109.589996,174.229996,75.610001,66.250000,133.539993,168.690002,51.750000,140.240005,66.809998,72.980003

In [41]:
merged_data = etfdata.merge(fulldata, left_index=True, right_index=True)
merged_data = merged_data.rename_axis('dates')
merged_data.to_csv('merged_data.csv')

<bound method NDFrame.head of                   GDX       GDXJ         IBB        ITB        IYE        IYR  \
dates
2000-01-03        NaN        NaN         NaN        NaN        NaN        NaN
2000-01-04        NaN        NaN         NaN        NaN        NaN        NaN
2000-01-05        NaN        NaN         NaN        NaN        NaN        NaN
2000-01-06        NaN        NaN         NaN        NaN        NaN        NaN
2000-01-07        NaN        NaN         NaN        NaN        NaN        NaN
...               ...        ...         ...        ...        ...        ...
2023-07-27  30.350000  36.099998  127.910004  87.809998  45.240002  87.720001
2023-07-28  30.719999  36.549999  129.860001  88.940002  45.360001  87.550003
2023-07-31  31.410000  37.660000  129.309998  88.769997  46.230000  88.050003
2023-08-01  30.230000  36.290001  128.050003  89.309998  45.990002  87.879997
2023-08-02  29.280001  35.139999  127.360001  88.320000  45.320000  87.370003

                  KBE        KRE         OIH         SMH  ...        ZTO  \
dates                                                     ...
2000-01-03        NaN        NaN         NaN         NaN  ...        NaN
2000-01-04        NaN        NaN         NaN         NaN  ...        NaN
2000-01-05        NaN        NaN         NaN         NaN  ...        NaN
2000-01-06        NaN        NaN         NaN         NaN  ...        NaN
2000-01-07        NaN        NaN         NaN         NaN  ...        NaN
...               ...        ...         ...         ...  ...        ...
2023-07-27  41.439999  48.029999  332.619995  157.460007  ...  26.570000
2023-07-28  41.939999  48.720001  337.500000  160.500000  ...  27.990000
2023-07-31  41.959999  48.689999  343.739990  160.619995  ...  27.799999
2023-08-01  41.540001  48.169998  341.700012  160.529999  ...  26.920000
2023-08-02  41.320000  47.950001  339.250000  154.639999  ...  26.620001

                   ZTS       ZUMZ    ZUO  ZURA  ZVIA  ZVRA        ZWS  ZYME  \
dates
2000-01-03         NaN        NaN    NaN   NaN   NaN   NaN        NaN   NaN
2000-01-04         NaN        NaN    NaN   NaN   NaN   NaN        NaN   NaN
2000-01-05         NaN        NaN    NaN   NaN   NaN   NaN        NaN   NaN
2000-01-06         NaN        NaN    NaN   NaN   NaN   NaN        NaN   NaN
2000-01-07         NaN        NaN    NaN   NaN   NaN   NaN        NaN   NaN
...                ...        ...    ...   ...   ...   ...        ...   ...
2023-07-27  188.690002  18.760000  10.51  6.57  2.72  4.64  29.790001  7.28
2023-07-28  189.899994  18.920000  10.91  7.00  2.72  4.83  30.440001  7.27
2023-07-31  188.089996  18.860001  11.73  6.88  2.78  4.88  30.440001  7.46
2023-08-01  185.509995  18.780001  11.76  6.88  2.75  4.90  30.410000  7.45
2023-08-02  182.000000  18.780001  10.68  6.53  2.62  4.81  30.379999  7.32

            ZYXI
dates
2000-01-03   NaN
2000-01-04   NaN
2000-01-05   NaN
2000-01-06   NaN
2000-01-07   NaN
...          ...
2023-07-27  9.75
2023-07-28  9.89
2023-07-31  9.76
2023-08-01  8.62
2023-08-02  8.29

[5933 rows x 4003 columns]>

In [47]:
data = pd.read_csv('merged_data.csv', index_col='dates')

In [53]:
data

,GDX,GDXJ,IBB,ITB,IYE,IYR,KBE,KRE,OIH,SMH,...,ZTO,ZTS,ZUMZ,ZUO,ZURA,ZVIA,ZVRA,ZWS,ZYME,ZYXI
dates,,,,,,,,,,,,,,,,,,,,,
2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-27,30.350000,36.099998,127.910004,87.809998,45.240002,87.720001,41.439999,48.029999,332.619995,157.460007,...,26.570000,188.690002,18.760000,10.51,6.57,2.72,4.64,29.790001,7.28,9.75
2023-07-28,30.719999,36.549999,129.860001,88.940002,45.360001,87.550003,41.939999,48.720001,337.500000,160.500000,...,27.990000,189.899994,18.920000,10.91,7.00,2.72,4.83,30.440001,7.27,9.89
2023-07-31,31.410000,37.660000,129.309998,88.769997,46.230000,88.050003,41.959999,48.689999,343.739990,160.619995,...,27.799999,188.089996,18.860001,11.73,6.88,2.78,4.88,30.440001,7.46,9.76
2023-08-01,30.230000,36.290001,128.050003,89.309998,45.990002,87.879997,41.540001,48.169998,341.700012,160.529999,...,26.920000,185.509995,18.780001,11.76,6.88,2.75,4.90,30.410000,7.45,8.62
2023-08-02,29.280001,35.139999,127.360001,88.320000,45.320000,87.370003,41.320000,47.950001,339.250000,154.639999,...,26.620001,182.000000,18.780001,10.68,6.53,2.62,4.81,30.379999,7.32,8.29

In [2]:
import pandas as pd
# Define the start and end dates of the entire period
start_date = '2000-01-01'
end_date = '2023-08-02'

# Generate a list of semester start and end dates
semester_dates = []
current_date = pd.Timestamp(start_date)
while current_date < pd.Timestamp(end_date):
    semester_dates.append(current_date.normalize())
    if current_date.month == 1:
        current_date += pd.DateOffset(months=12)
    else:
        current_date += pd.DateOffset(months=12)
semester_dates

[Timestamp('2000-01-01 00:00:00'),
 Timestamp('2001-01-01 00:00:00'),
 Timestamp('2002-01-01 00:00:00'),
 Timestamp('2003-01-01 00:00:00'),
 Timestamp('2004-01-01 00:00:00'),
 Timestamp('2005-01-01 00:00:00'),
 Timestamp('2006-01-01 00:00:00'),
 Timestamp('2007-01-01 00:00:00'),
 Timestamp('2008-01-01 00:00:00'),
 Timestamp('2009-01-01 00:00:00'),
 Timestamp('2010-01-01 00:00:00'),
 Timestamp('2011-01-01 00:00:00'),
 Timestamp('2012-01-01 00:00:00'),
 Timestamp('2013-01-01 00:00:00'),
 Timestamp('2014-01-01 00:00:00'),
 Timestamp('2015-01-01 00:00:00'),
 Timestamp('2016-01-01 00:00:00'),
 Timestamp('2017-01-01 00:00:00'),
 Timestamp('2018-01-01 00:00:00'),
 Timestamp('2019-01-01 00:00:00'),
 Timestamp('2020-01-01 00:00:00'),
 Timestamp('2021-01-01 00:00:00'),
 Timestamp('2022-01-01 00:00:00'),
 Timestamp('2023-01-01 00:00:00')]

In [71]:
# Initialize an empty dictionary to store the semester DataFrames
semester_dataframes = {}

# Loop through the semester start dates
for i in range(len(semester_dates) - 1):
    # Get the start and end dates for the current semester
    semester_start = semester_dates[i]
    semester_end = semester_dates[i + 1]
    
    # Slice the original DataFrame for the current semester
    semester_df = data[(data.index >= semester_start) & (data.index < semester_end)]
    
    # Store the semester DataFrame in the dictionary
    semester_dataframes[f'Semester_{i + 1}'] = semester_df

# Include the last semester separately (from the last semester_end to end_date)
semester_df = data[(data.index >= semester_dates[-1]) & (data.index <= end_date)]
semester_dataframes[f'Semester_{len(semester_dates)}'] = semester_df

# Print the number of rows in each semester for verification
for semester, df in semester_dataframes.items():
    print(f"{semester}: {len(df)} rows")

# Access individual semester DataFrames using semester_dataframes['Semester_1'], etc.

Semester_1: 126 rows
Semester_2: 126 rows
Semester_3: 125 rows
Semester_4: 123 rows
Semester_5: 124 rows
Semester_6: 128 rows
Semester_7: 124 rows
Semester_8: 128 rows
Semester_9: 124 rows
Semester_10: 128 rows
Semester_11: 125 rows
Semester_12: 127 rows
Semester_13: 125 rows
Semester_14: 126 rows
Semester_15: 124 rows
Semester_16: 127 rows
Semester_17: 125 rows
Semester_18: 128 rows
Semester_19: 124 rows
Semester_20: 128 rows
Semester_21: 124 rows
Semester_22: 128 rows
Semester_23: 125 rows
Semester_24: 127 rows
Semester_25: 125 rows
Semester_26: 125 rows
Semester_27: 124 rows
Semester_28: 128 rows
Semester_29: 124 rows
Semester_30: 128 rows
Semester_31: 124 rows
Semester_32: 128 rows
Semester_33: 125 rows
Semester_34: 127 rows
Semester_35: 125 rows
Semester_36: 126 rows
Semester_37: 125 rows
Semester_38: 126 rows
Semester_39: 124 rows
Semester_40: 128 rows
Semester_41: 125 rows
Semester_42: 128 rows
Semester_43: 124 rows
Semester_44: 128 rows
Semester_45: 124 rows
Semester_46: 127 rows
Semester_47: 124 rows
Semester_48: 22 rows

In [76]:
import pickle

with open('semester_dataframes.pkl', 'wb') as f:
    pickle.dump(semester_dataframes, f)

#with open('semester_dataframes.pkl', 'rb') as f:
   # loaded_semester_dataframes = pickle.load(f)

In [81]:
modified_semester_dataframes = {}

# Loop through each semester DataFrame and create a new DataFrame without NaN columns
for semester_name, semester_df in semester_dataframes.items():
    valid_columns = semester_df.columns[~semester_df.isna().any()]
    modified_semester_dataframes[semester_name] = semester_df[valid_columns]

# Now 'modified_semester_dataframes' contains the modified DataFrames with columns without NaN values for each semester

In [ ]:
# separe data by semesters and drop na
import pandas as pd
# Define the start and end dates of the entire period
start_date = '2000-01-01'
end_date = '2023-08-02'

# Generate a list of semester start and end dates
semester_dates = []
current_date = pd.Timestamp(start_date)
while current_date < pd.Timestamp(end_date):
    semester_dates.append(current_date.normalize())
    if current_date.month == 1:
        current_date += pd.DateOffset(months=6)
    else:
        current_date += pd.DateOffset(months=6)
# Initialize an empty dictionary to store the semester DataFrames
semester_dataframes = {}

# Loop through the semester start dates
for i in range(len(semester_dates) - 1):
    # Get the start and end dates for the current semester
    semester_start = semester_dates[i]
    semester_end = semester_dates[i + 1]
    
    # Slice the original DataFrame for the current semester
    semester_df = open_data[(open_data.index >= semester_start) & (open_data.index < semester_end)]
    
    # Store the semester DataFrame in the dictionary
    semester_dataframes[f'Semester_{i + 1}'] = semester_df

# Include the last semester separately (from the last semester_end to end_date)
semester_df = open_data[(open_data.index >= semester_dates[-1]) & (open_data.index <= end_date)]
semester_dataframes[f'Semester_{len(semester_dates)}'] = semester_df

# Print the number of rows in each semester for verification
for semester, df in semester_dataframes.items():
    print(f"{semester}: {len(df)} rows")

for semester_name, semester_df in semester_dataframes.items():
    valid_columns = semester_df.columns[~semester_df.isna().any()]
    semester_dataframes[semester_name] = semester_df[valid_columns]
# Create a new dictionary with updated keys
open_bysemester = {}
for key in semester_dataframes.keys():
    new_key = key.replace('Semester_', 'Semester_')
    open_bysemester[new_key] = semester_dataframes[key]

    # drop every column with a 0
for semester_name in open_bysemester.keys():
    semester_df = open_bysemester[semester_name]
    
    # Identify columns with at least one value equal to 0
    columns_to_drop = semester_df.columns[semester_df.eq(0).any()]
    # Drop the identified columns from the DataFrame
    open_bysemester[semester_name] = semester_df.drop(columns=columns_to_drop, inplace=False)
    
with open('open_bysemester.pkl', 'wb') as f:
    pickle.dump(open_bysemester, f)

In [ ]:
# Assuming your DataFrame is called open_data
yearly_dataframes = {}

for year in range(2000, 2024):  # Assuming you want data from 2000 to 2023
    start_date = pd.to_datetime(f"{year}-01-01")
    end_date = pd.to_datetime(f"{year}-12-31")
    
    # Extract data for the current year
    year_data = open_data[(open_data.index >= start_date) & (open_data.index <= end_date)]
    
    # Store the year's data in a dictionary with the year as the key
    yearly_dataframes[year] = year_data

# Access the yearly dataframes using the year as the key, e.g., yearly_dataframes[2022] for the year 2022

In [ ]:
result_dict = {}

years = sorted(set(yearly_dataframes.keys()) | set(yearlysem_dataframes.keys()))
semesters = ['Semester_1', 'Semester_2']

semester_index = 0

for year in years:
    result_dict[year] = {semesters[semester_index]: yearly_dataframes[year]}
    semester_index = (semester_index + 1) % len(semesters)
    result_dict[year].update({semesters[semester_index]: yearlysem_dataframes[year]})
    semester_index = (semester_index + 1) % len(semesters)

print(result_dict)

In [ ]:
# Define the number of semesters you want (48 in this case)
num_semesters = 48

# Initialize the semester counter
semester_count = 1

# Create a new dictionary to store the result with the desired keys
new_result_dict = {}

# Iterate through the original result_dict and rename the keys
for year in result_dict:
    for old_key in list(result_dict[year].keys()):
        new_key = f'Semester_{semester_count}'
        new_result_dict[new_key] = result_dict[year].pop(old_key)
        semester_count += 1
        if semester_count > num_semesters:
            break

# Print the updated result_dict
print(new_result_dict)

In [ ]:
import yfinance as yf
import pandas as pd
start_date = "2000-07-01"
end_date = pd.Timestamp.today().strftime("%Y-%m-%d")
risk_free_data = yf.download("^IRX", start=start_date, end=end_date)
risk_free_data = risk_free_data['Open']

In [ ]:
import pandas as pd
# Define the start and end dates of the entire period
start_date = '2000-01-01'
end_date = '2023-08-02'

# Generate a list of semester start and end dates
semester_dates = []
current_date = pd.Timestamp(start_date)
while current_date < pd.Timestamp(end_date):
    semester_dates.append(current_date.normalize())
    if current_date.month == 1:
        current_date += pd.DateOffset(months=6)
    else:
        current_date += pd.DateOffset(months=6)
semester_dates
# Initialize an empty dictionary to store the semester DataFrames
riskfree_bysemester = {}

# Loop through the semester start dates
for i in range(len(semester_dates) - 1):
    # Convert semester_start and semester_end to Timestamp objects
    semester_start = pd.to_datetime(semester_dates[i])
    semester_end = pd.to_datetime(semester_dates[i + 1])
    
    # Ensure the risk_free_data index is in Timestamp format
    risk_free_data.index = pd.to_datetime(risk_free_data.index)
    
    # Slice the original DataFrame for the current semester
    semester_df = risk_free_data[(risk_free_data.index >= semester_start) & (risk_free_data.index < semester_end)]
    
    # Store the semester DataFrame in the riskfree_bysemester dictionary
    riskfree_bysemester[f'Semester_{i + 1}'] = semester_df

# Include the last semester separately (from the last semester_end to end_date)
end_date = pd.to_datetime(end_date)  # Ensure end_date is in Timestamp format
semester_df = risk_free_data[(risk_free_data.index >= pd.to_datetime(semester_dates[-1])) & (risk_free_data.index <= end_date)]
riskfree_bysemester[f'Semester_{len(semester_dates)}'] = semester_df

In [36]:
# debugging version
class OpticsPairs:
    """
    This class implements the pairs selection framework outlined in
    Simao Moraes Saremtno and Nuno Horta's publication:
    Enhancing a Pairs Trading strategy with the application
    of Machine Learning [1].
    <http://premio-vidigal.inesc.pt/pdf/SimaoSarmentoMSc-resumo.pdf>`_

    Their work is motivated by the need to find "profitable pairs while
    constraining the search space" [1]. To achieve this, security returns
    are first reduced via principal component analysis. Next the securities are
    paired through clustering via the OPTICS algorithim introduced by
    Ankerst et. al in their publication: OPTICS: Ordering Points To Identify
    the Clustering Structure [2]
    <https://www.dbs.ifi.lmu.de/Publikationen/Papers/OPTICS.pdf>`_
    Finally, the pairs are filtered by criteria including: the Engle-Granger
    test, analysis of the Hurst exponent, half-life filtering, and practical
    implementation requirements.
    """

    def __init__(self, data: pd.DataFrame):
        """
        Initializes OpticsPairs object and calculates one-period returns of
        securities.

        :param data: pd.DataFrame containing time series returns of various
            assets. Dimensions of dataframe should be TxN.
        """

        self.prices = data
        self.securities = self.prices.columns
        self.returns = self.prices.pct_change()[1:]
        self.returns_reduced = None  # Reduced transform of returns from PCA
        self.components_ = None  # Components generated from PCA
        self.n_components_ = None  # Number of components of PCA
        self.explained_variance_ratio_ = None  # Vairance explained by PCA
        self.pairs = None  # Potential pairs found from OPTICS clusters
        self.engle_granger_tests = None  # pvalue Engle-Granger cointegration
        self.norm_spreads = None  # Z-score of spreads generated from pairs
        self.hurst_exponents = None  # Hurst exponent  from normalized spreads
        self.half_lives = None  # Half-life of normalized spreads
        self.avg_cross_count = None  # Ann average count of spread crosses mean
        self.pairs_df = None  # Dataframeof summary stats and potential pairs
        self.filtered_pairs = None  # Filtered pairs_df
        self.cluster_labels = None  # Array of cluster labels for securities

    def reduce_PCA(self,
                   n_components_: int = 10,
                   Scaler=StandardScaler(),
                   random_state: int = 42):
        """
        Reduces self.returns to dimensions equal to n_components_ through
        principal component analysis. Returns are first scaled via the Scaler
        parameter. Then calculate correlation matrix of scaled returns.
        Finally, principal component analysis is used to reduce dimensions.

        :param n_components_: An integer to denote number of dimensions
            for pca. Authors recommend n_components_ <= 15 [1].
        :param Scaler: A transformer to scale input data. Scaled data is
            recommended for principal component analysis.
        :param random_state: An integer to denote the seed for PCA() to insure
            reproducibility.
        """

        if self.returns is None:
            raise ValueError("returns not found: input price dataframe \
                             into OpticsPairs instance")

        if n_components_ > int(15):
            warnings.warn("Maximum n_components_ recommended is 15")

        # PCA pipeline
        pipe = Pipeline([
            # Normalize raw data via user input scaler
            ('scaler', Scaler),
            # Perform PCA on scaled returns
            ('pca', PCA(n_components=n_components_, random_state=random_state))
            ])

        self.returns_reduced = pipe.fit_transform(self.returns)
        self.components_ = pipe['pca'].components_
        self.n_components_ = pipe['pca'].n_components_
        self.explained_variance_ratio_ = pipe['pca'].explained_variance_ratio_

    def find_pairs(self):
        """
        Uses OPTICS algorithim to find clusters of similar securities within
        PCA component space. Once clusters labels are assigned, function
        generates series of tuples containing unique pairs of securities
        within the same cluster.
        """

        if self.returns_reduced is None:
            raise ValueError("returns_reduced not found: must run \
                             .reduce_PCA() before this function")

        # Initialize and fit OPTICS cluster to PCA components
        clustering = OPTICS()
        clustering.fit(self.components_.T)

        # Create cluster data frame and identify trading pairs
        clusters = pd.DataFrame({'security': self.securities,
                                 'cluster': clustering.labels_})
        # Clusters with label == -1 are 'noise'
        # From OPTICS sk-learn documentation: Noisy samples and points
        # which are not included in a leaf cluster of cluster_hierarchy_
        # are labeled as -1
        clusters = clusters[clusters['cluster'] != -1]

        # Group securities by cluster and flatten list of combination lists
        groups = clusters.groupby('cluster')
        combos = list(groups['security'].apply(combinations, 2))  # All pairs
        pairs = list(chain.from_iterable(combos))  # Flatten list of lists

        print(f"Found {len(pairs)} potential pairs")

        self.pairs = pd.Series(pairs)
        self.cluster_labels = clustering.labels_

    def calc_eg_norm_spreads(self):
        """
        Calculates the p-value of the t-stat from the Engle-Granger
        cointegration test. Calculates normalized beta-adjusted spread
        series of potential pairs.
        """

        if self.prices is None:
            raise ValueError("prices not found: must initialize with \
                             price dataframe before this function")

        if self.pairs is None:
            raise ValueError("pairs not found: must run .find_pairs() \
                             before this function")

        engle_granger_tests = []
        norm_spreads = []

        # Test each pair for cointegration
        for pair in self.pairs:

            security_0 = self.prices[pair[0]]
            security_1 = self.prices[pair[1]]

            # Get independent and dependent variables
            # for OLS calculation and corresponding
            # pvalue for Engle-Granger tests
            pvalue, x, y = OpticsPairs.get_ols_variables(security_0, security_1)
            engle_granger_tests.append(pvalue)

            try:
                # Get parameters and calculate spread
                model = sm.OLS(y, x)
                result = model.fit()
                alpha, beta = result.params[0], result.params[1]
                spread = y - (alpha + beta * x[:, 1])
            except (IndexError, np.linalg.LinAlgError) as e:
                print(f"Error occurred for pair {pair}: {e}")
                beta = 0  # Set a default value in case of an error
                spread = y - alpha
    
            norm_spread = OpticsPairs.calc_zscore(spread)
            norm_spreads.append(norm_spread)

        # Convert spreads from list to dataframe
        norm_spreads = pd.DataFrame(np.transpose(norm_spreads),
                                    index=self.prices.index)

        self.norm_spreads = norm_spreads
        self.engle_granger_tests = pd.Series(engle_granger_tests)

    @staticmethod
    def get_ols_variables(security_0: str,
                          security_1: str):
        """
        Compares t-stats of two Engle-Granger cointegration tests.
        Returns independent and dependent variables for OLS.

        :params security_0: String identifier of first security.
        :params security_1: String identifier of second security.
        """

        test_0 = ts.coint(security_0, security_1)
        test_1 = ts.coint(security_1, security_0)

        t_stat_0, pvalue_0 = test_0[0], test_0[1]
        t_stat_1, pvalue_1 = test_1[0], test_1[1]
          
        # Avoid reliance on dependent variable and choose smallest t-stat
        # for Engle-Granger Test
        # Use corresponding independent and dependent variables to
        # calculate spread
        if abs(t_stat_0) < abs(t_stat_1):
            pvalue = pvalue_0
            x = sm.add_constant(np.asarray(security_1))
            y = np.asarray(security_0)
        else:
            pvalue = pvalue_1
            x = sm.add_constant(np.asarray(security_0))
            y = np.asarray(security_1)

        return pvalue, x, y
        
    def calc_hurst_exponents(self):
        """
        Calculates Hurst exponent of each potential pair's normalized spread.
        """

        if self.norm_spreads is None:
            raise ValueError("norm_spreads not found: must run \
                            .calc_eg_norm_spreads before this function")

        hurst_exponents = []

        # Calculate Hurst exponents and generate series
        for col in self.norm_spreads.columns:
            hurst_exp = OpticsPairs.hurst(self.norm_spreads[col].values)
            hurst_exponents.append(hurst_exp)

        self.hurst_exponents = pd.Series(hurst_exponents)

    def calc_half_lives(self):
        """
        Calculates half-life of each potential pair's normalized spread.
        """
        if self.norm_spreads is None:
            raise ValueError("norm_spreads not found: must run \
                            .calc_eg_norm_spreads before this function")

        self.half_lives = self.norm_spreads.apply(OpticsPairs.half_life)

    def calc_avg_cross_count(self, trading_year: float = 252.0):
        """
        Calculates the average number of instances per year the
        normalized spread of potential pairs crosses the mean.
        Authors recommend trading pairs that cross mean on average
        12 times per year [1].
        """

        if self.prices is None:
            raise ValueError("prices not found: must initialize with \
                                price dataframe before this function")

        if self.norm_spreads is None:
            raise ValueError("norm_spreads not found: must run \
                            .calc_eg_norm_spreads() before this function")

        # Find number of years
        n_days = len(self.prices)
        n_years = n_days/trading_year

        # Find annual average cross count
        cross_count = self.norm_spreads.apply(OpticsPairs.count_crosses)
        self.avg_cross_count = cross_count/n_years

    def filter_pairs(self,
                     max_pvalue: float = 0.05,
                     max_hurst_exp: float = 0.5,
                     max_half_life: float = 252.0,
                     min_half_life: float = 1.0,
                     min_avg_cross: float = 12.0):
        """
        Generates a summary dataframe of potential pairs containing:
            1. Engle-Granger p-value
            2. Hurst exponent
            3. Half-life
            4. Average Cross Count
        Filters summary dataframe to include pairs that meet user
        specified criteria.

        :param max_pvalue: A floating number to eliminate potential pairs with
            Engle-Granger t-stat pvalues above max_pvalue. Default set to 5%.
        :param max_hurst_exp: A floating number to eliminate potential
            pairs with Hurst exponents greater than max_hurst_exp.
            Values below 0.5 represent mean-reverting pairs.
            Default set to 0.5.
        :param max_half_life: A floating number to eliminate potential pairs
            with half-lives above user defined value.
            Default value set to 252.0.
        :param min_half_life: A floating number to eliminate potential
            pairs with half-lives below user defined value.
            Default value set to 1.0.
        :min_avg_cross: A floating number to eliminate potential pairs with
            average cross count less than user defined value.
            Default value set to 12.0
        """

        required = [self.prices,
                    self.engle_granger_tests,
                    self.hurst_exponents,
                    self.half_lives,
                    self.avg_cross_count]

        for i in required:
            if i is None:
                raise ValueError("Required: \n 1. prices \n 2. \
                                engle_granger_tests \n 3. hurst_exponents \
                                \n 4. half_lives \n 5. avg_cross_count")

        # Generate summary dataframe of potential trading pairs
        pairs_df = pd.concat([self.pairs,
                              self.engle_granger_tests,
                              self.hurst_exponents,
                              self.half_lives,
                              self.avg_cross_count],
                             axis=1)
        pairs_df.columns = ['pair',
                            'pvalue',
                            'hurst_exp',
                            'half_life',
                            'avg_cross_count']

        # Find pairs that meet user defined criteria
        filtered_pairs = pairs_df.loc[
            # Significant Engle-Grange test AND
            (pairs_df['pvalue'] <= max_pvalue) &
            # Mean reverting according to Hurst exponent AND
            (pairs_df['hurst_exp'] < max_hurst_exp) &
            # Half-life above minimum value AND
            # Half-life below maximum value AND
            ((pairs_df['half_life'] >= min_half_life) &
             (pairs_df['half_life'] <= max_half_life)) &
            # Produces sufficient number of trading opportunities
            (pairs_df['avg_cross_count'] >= min_avg_cross)]

        self.pairs_df = pairs_df
        self.filtered_pairs = filtered_pairs

        if len(self.filtered_pairs) == 0:
            print("No tradable pairs found. Try relaxing criteria.")
        else:
            n_pairs = len(self.filtered_pairs)
            print(f"Found {n_pairs} tradable pairs!")

    def plot_pair_price_spread(self, idx: int):
        """
        Plots the price path of both securities in selected pair,
        with dual axis. Plots the normalized spread of the price paths.
        """
        required = [self.prices,
                    self.pairs,
                    self.norm_spreads,
                    self.half_lives,
                    self.avg_cross_count]

        for i in required:
            if i is None:
                raise ValueError("Required: \n 1. prices \n 2. pairs \
                                \n 3. norm_spreads")

        fontsize = 20
        securities = self.pairs[idx]

        fig, axs = plt.subplots(2, 1, sharex=True, figsize=(20, 10))

        # first security (left axis)
        security = securities[0]
        color = 'tab:blue'
        axs[0].plot(self.prices[security], color=color)
        axs[0].set_ylabel(security, color=color, fontsize=fontsize)
        axs[0].tick_params(axis='y', labelcolor=color)
        axs[0].set_title('pair_'+str(idx)+' prices', fontsize=fontsize)

        # second security (right axis)
        security = securities[1]
        color = 'tab:orange'
        axs2 = axs[0].twinx()
        axs2.plot(self.prices[security], color=color)
        axs2.set_ylabel(security, color=color, fontsize=fontsize)
        axs2.tick_params(axis='y', labelcolor=color)

        # plot spread
        axs[1].plot(self.norm_spreads[idx], color='black')
        axs[1].set_ylabel('spread_z_score', fontsize=fontsize)
        axs[1].set_xlabel('date', fontsize=fontsize)
        axs[1].set_title('pair_'+str(idx)+' normalized spread',
                         fontsize=fontsize)
        axs[1].axhline(0, color='blue', ls='--')
        axs[1].axhline(1, color='r', ls='--')
        axs[1].axhline(-1, color='r', ls='--')

        fig.tight_layout()

    def plot_explained_variance(self):
        """
        Plots the cumulative variance explained by principal component
        analysis.
        """

        if self.explained_variance_ratio_ is None:
            raise ValueError("explained_variance_ratio_ missing: run \
                            .reduce_PCA() before this function")

        fig, axs = plt.subplots()
        axs.set_title('PCA Cumulative Explained Variance')
        axs.plot(np.cumsum(self.explained_variance_ratio_))
        axs.set_xlabel('number of components')
        axs.set_ylabel('explained variance')
        fig.tight_layout()

    def plot_loadings(self, n: int = 5):
        """
        Plots up to 5 bar charts depicting the loadings of
        each component, by security.
        """

        if self.components_ is None:
            raise ValueError("components_ missing: run \
                            .reduce_PCA() before this function")

        n_loadings = min(n, self.n_components_)
        fig, axs = plt.subplots(n_loadings, 1, sharex=True, figsize=(20, 20))
        fontsize = 18
        for i in range(n_loadings):
            axs[i].bar([i for i in range(self.components_.shape[1])],
                       self.components_[i])
            axs[i].set_ylabel('component_'+str(i)+' loading',
                              fontsize=fontsize)
        axs[0].set_title('PCA Loadings', fontsize=fontsize)
        axs[i].set_xlabel('security_observation', fontsize=fontsize)

        fig.tight_layout()

    def plot_clusters(self, n_dimensions: int = 2):
        """
        Plots a 2-dimension or 3-dimension scatter plot of security principal
        component loadings. Plots either the first two or three
        principal components and colors securities according to their
        cluster label found from OPTICS algorithm.

        :param n_dimensions: An integer to denote how many dimensions to plot.
            Default value is two.
        """

        for i in [self.n_components_, self.components_, self.cluster_labels]:
            if i is None:
                raise ValueError("Required: \n 1. n_components \n 2. \
                                reduced_returns")

        fontsize = 15
        figsize = (10, 10)

        if n_dimensions == 2:
            fig, axs = plt.subplots(1, 1, figsize=figsize)
            axs.scatter(self.components_[0].T[self.cluster_labels != -1],
                        self.components_[1].T[self.cluster_labels != -1],
                        c=self.cluster_labels[self.cluster_labels != -1])
            axs.scatter(self.components_[0].T[self.cluster_labels == -1],
                        self.components_[1].T[self.cluster_labels == -1],
                        c=self.cluster_labels[self.cluster_labels == -1],
                        alpha=0.1)
            axs.set_title('OPTICS Clusters', fontsize=fontsize)
            axs.set_xlabel('component_0 loading', fontsize=fontsize)
            axs.set_ylabel('component_1 loading', fontsize=fontsize)
            fig.tight_layout()

        elif n_dimensions == 3:
            fig = plt.figure(figsize=figsize)
            axs = fig.add_subplot(111, projection='3d')
            axs.scatter(self.components_[0].T[self.cluster_labels != -1],
                        self.components_[1].T[self.cluster_labels != -1],
                        self.components_[2].T[self.cluster_labels != -1],
                        c=self.cluster_labels[self.cluster_labels != -1])
            axs.scatter(self.components_[0].T[self.cluster_labels == -1],
                        self.components_[1].T[self.cluster_labels == -1],
                        self.components_[2].T[self.cluster_labels == -1],
                        c=self.cluster_labels[self.cluster_labels == -1],
                        alpha=0.1)
            
            axs.set_title('OPTICS Clusters', fontsize=fontsize)
            axs.set_xlabel('component_0 loading', fontsize=fontsize)
            axs.set_ylabel('component_1 loading', fontsize=fontsize)
            axs.set_zlabel('component_2 loading', fontsize=fontsize)
            fig.tight_layout()

        else:
            warnings.warn("Cannot visualize more than three dimensions!")

    @staticmethod
    def hurst(norm_spread):
        """
        Calculates Hurst exponent.
        https://en.wikipedia.org/wiki/Hurst_exponent

        :param norm_spread: An array like object used to calculate half-life.
        """
        # Create the range of lag values
        lags = range(2, 100)

        # Calculate the array of the variances of the lagged differences
        diffs = [np.subtract(norm_spread[l:], norm_spread[:-l]) for l in lags]
        tau = [np.sqrt(np.std(diff)) for diff in diffs]
        
        # Use a linear fit to estimate the Hurst Exponent
        poly = np.polyfit(np.log(lags), np.log(tau), 1)

        # Return the Hurst exponent from the polyfit output
        H = poly[0]*2.0

        return H

    @staticmethod
    def half_life(norm_spread):
        """
        Calculates time series half-life.
        https://en.wikipedia.org/wiki/Half-life

        :param norm_spread: An array like object used to calculate half-life.
        """
        lag = norm_spread.shift(1)
        lag[0] = lag[1]

        ret = norm_spread - lag
        lag = sm.add_constant(lag)

        model = sm.OLS(ret, lag)
        result = model.fit()
        half_life = -np.log(2)/result.params.iloc[1]

        return half_life

    @staticmethod
    def count_crosses(norm_spread, mean: float = 0.0):
        """
        Calculates the number of times a time series crosses its mean.

        :param norm_spread: An array like object used to calculate half-life.
        :param mean: A float to denote mean of norm_spread.
            Default value is 0.0.
        """

        curr_period = norm_spread
        next_period = norm_spread.shift(-1)
        count = (
            ((curr_period >= mean) & (next_period < mean)) |  # Over to under
            ((curr_period < mean) & (next_period >= mean)) |  # Under to over
            (curr_period == mean)
            ).sum()

        return count

    @staticmethod
    def calc_zscore(spread):
        zscore = (spread - np.mean(spread))/np.std(spread)
        return zscore

,XLB,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY,A,...,PACW,PKG,PUK,RBBN,SGMO,SLAB,SLF,SMMF,UBS,UONEK
dates,,,,,,,,,,,,,,,,,,,,,
2000-01-03,15.257446,14.549553,11.589029,18.826677,42.028301,13.078809,11.990412,21.399870,22.808760,44.290768,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,15.110559,14.275674,11.082405,18.306538,39.896088,12.710517,11.628716,20.914268,22.122601,40.907444,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,15.734811,14.652250,10.995327,18.224949,39.303822,12.935083,11.922166,20.726645,21.850506,38.369949,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,16.138741,15.217112,11.478209,18.469727,38.000782,13.177616,11.901689,20.792860,22.098946,36.908974,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,16.129557,15.379725,11.668194,19.173431,38.664139,14.013000,12.004058,21.046705,23.140007,39.984726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000-12-22,13.043835,17.801161,14.824342,19.901163,24.816593,16.004091,14.592863,19.041483,18.714567,33.640987,...,7.692776,8.578258,12.767458,135.0000,14.750,11.875,10.436805,3.023864,12.749737,10.0625
2000-12-26,13.005663,18.548674,15.089202,20.128006,24.401997,16.322346,15.003925,19.074606,18.356512,32.910496,...,7.725236,8.612298,12.565601,126.2500,18.875,11.500,10.327229,3.023864,12.775508,10.5000
2000-12-27,13.215588,18.531281,15.185520,20.457977,24.638914,16.431471,15.003925,19.140833,19.239723,34.409939,...,7.855070,9.088867,12.893622,125.0000,21.000,13.625,11.176416,3.023864,12.925296,10.6250
2000-12-28,13.339633,18.835501,15.338017,20.757017,24.520456,16.676991,14.883445,19.471985,19.478430,34.025459,...,7.692776,8.986743,13.019787,134.6875,21.875,13.500,11.477743,2.981866,12.920467,10.2500
2000-12-29,13.081999,18.461750,15.153411,20.622971,23.738642,16.622429,15.053540,19.251225,19.550037,33.679428,...,7.692776,8.782498,12.868394,126.2500,19.500,14.375,11.669497,2.981866,13.158838,11.0000